<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="addMenuForm">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Skapa meny</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" ng-model="title" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pris</label>
                            <input type="text" class="form-control" ng-model="price"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Beskrivning</label>
                            <textarea class="form-control"  ng-model="description"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>